<!DOCTYPE html>
<html>
  <head>
    <title>
      TechKids - Coding School
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta property="og:image" content="http://techkids.vn/cms/img/logo.png">
    <meta property="og:site_name" content="TechKids Coding School">
    <meta property="og:description" content="Chúng tôi ở đây để tạo ra những con người có thể thay đổi thế giới.">
    <!-- CSS Libs-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&amp;subset=latin,vietnamese" rel="stylesheet" type="text/css">
    <!-- CSS #self-->
    <link rel="stylesheet" type="text/css" href="/cms/css/style.css">
    <link rel="stylesheet" type="text/css" href="/cms/css/fadeIn.css">
    <link rel="stylesheet" type="text/css" href="/cms/css/layout.css">
    <!-- JS Libs-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <!-- JS #self-->
    <script src="/cms/js/core.js"></script>
    <script src="/cms/js/scrollSpy.js"></script>
  </head>
  <body>
    <nav id="main_nav" class="navbar navbar-default navbar-fixed-top block nav_optional endblock {% %}{% %}">
      <nav class="navbar navbar-inverse navbar_secondary hidden-xs">
        <div class="container">
          <!--form.navbar-form.navbar-right(role='search')
          //.form-group
            //- input.form-control(type='text', placeholder='Search')
            //- input.form-control(type='button',value="Seach")
          -->
          <ul class="nav navbar-nav navbar-right">
            <li><a  href="/">Become our members</a></li>
            <li><a href="http://techkids.vn">Visit our coding school</a></li>
            <li></li>
          </ul>
        </div>
      </nav>
      <div  class="container">
        <!-- Brand and toggle get grouped for better mobile display-->
        <div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="/" class="navbar-brand"><span class="brand_logo"><img src="/cms/img/TechkidBrandColor.png" alt="TechKids"></span></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling-->
        <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <!-- <li class="dropdown"><a href="/" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">Home<span class="visible-xs-inline-block caret"></span></a>
            </li> -->
            <li class="dropdown"><a href="/#why-choose-us" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">Why Us<span class="visible-xs-inline-block caret"></span></a>
            </li>
            <li class="dropdown"><a href="/#service" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">Service<span class="visible-xs-inline-block caret"></span></a>
            </li>
            <!-- <li class="dropdown"><a href="/#portfolio" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">Portfolio<span class="visible-xs-inline-block caret"></span></a>
            </li> -->
            <li class="dropdown"><a href="/#our-team" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">Team<span class="visible-xs-inline-block caret"></span></a>
            </li>
            <li class="dropdown"><a href="/#who-trusted-us" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">Clients<span class="visible-xs-inline-block caret"></span></a>
            </li>
            <li class="dropdown"><a href="/#contact-us" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">Contact<span class="visible-xs-inline-block caret"></span></a>
            </li>

          </ul>
          <!-- <div class="visible-xs-block">
            <form role="search" class="navbar-form navbar-right visible-xs-block">
              <div class="form-group">
                <input type="text" placeholder="Search" class="form-control">
              </div>
            </form>

            <ul class="nav navbar-nav navbar-right">
              <li><a href="/">Home page</a></li>
              <li><a href="/ve-chung-toi">VỀ CHÚNG TÔI</a></li>
              <li><a href="/lien-he">LIÊN HỆ</a></li>
            </ul>
          </div> -->
        </div>
      </div>
    </nav>

        <section id="intro" class="intro stars">
      <div class="container center_inline_list"><img src="/cms/img/TechKidsLogo.png" alt="TechKids" style="margin-top:75px" class="fade_up"/></div>
    </section>


    <section id="why-choose-us" id="about" class="about_us">
      <div class="container">
        <div class="fade_up"></div>
        <div class="row text-center">
          <h3 class="section_title col-sm-5 col-xs-9">Why choose us</h3>
        </div>
        <div class="row">
          <div class="col-sm-12 about_values">
            <div style="text-align:center" class="core_value">
              <div class="frame_wrapper fade_up"><img src="/cms/img/duan.png"/>
                <h5>Best product </h5>
                <p>
                  Give you the best products. We have customer-oriented experts team who prioritize requirements and use the latest methodologies.
                </p>
                <div class="text-center"><a href="/#" class="btn btn-primary">Portfolio</a></div>
              </div>
            </div>
            <div style="text-align:center" class="vision">
              <div class="frame_wrapper fade_left"><img 2015="" src="/cms/img/vieclam.png"/>
                <h5>Competitive Price</h5>
                <p>
                  Offer highly competitive price. We make sure that our price will satisfy you.

                </p>
              </div>
            </div>
            <div style="text-align:center" class="destiny">
              <div class="frame_wrapper fade_right"><img 2015="" src="/cms/img/dauan.jpg"/>
                <h5>Free Maintenance</h5>
                <p>Maintain products within 3 months after finishing projects. Our maintenance and support is always free.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="indeximg" class="indeximg">
      <div class="container">
        <div class="row fade_up"></div>
      </div>
    </section>
    <section id="courses" class="courses">
      <div class="container">
        <div class="row text-center">
          <h3 class="section_title col-sm-5 col-xs-9"><a id="service">Our services</a></h3>
        </div>
        <div class="row">
          <div class="col-sm-3 course_item fade_scale fade_delay_1">
            <div><span class="course_icon"><a href="/khoa-hoc/web-fullstack"><img src="/cms/img/icon4.png" height="110" width="110"/></a></span></div>
            <h4> <a href="/khoa-hoc/web-fullstack">Web development</a></h4>
          </div>
          <div class="col-sm-3 course_item fade_scale fade_delay_2">
            <div><span class="course_icon"><a href="/khoa-hoc/ios"><img src="/cms/img/icon2.png" height="110" width="110"/></a></span></div>
            <h4><a href="/khoa-hoc/ios">iOS apps development</a></h4>
          </div>
          <div class="col-sm-3 course_item fade_scale fade_delay_3">
            <div><span class="course_icon"> <a href="/khoa-hoc/android"><img src="/cms/img/icon3.png" height="110" width="110"/></a></span></div>
            <h4><a href="/khoa-hoc/android">Android apps development</a></h4>
          </div>
          <div class="col-sm-3 course_item fade_scale">
            <div><span class="course_icon"><a href="/khoa-hoc/code-for-everyone"><img src="/cms/img/google-play.png" height="110" width="110"/></a></span></div>
            <h4><a href="/khoa-hoc/code-for-everyone">GAME DEVELOPERMENT</a></h4>
            <p></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 text-center">
            <!--a.btn.btn-primary(href="/portfolio") Sản phẩm học viên-->
          </div>
        </div>
      </div>
    </section>
    <section id="our-team" id="teachers" class="stars teachers">
      <div class="row fade_up">
        <div id="myCarousel" data-ride="carousel" class="carousel slide">
          <h3 class="section_title col-sm-5 col-xs-9">Our team</h3>
          <!-- Indicators-->
          <!-- Wrapper for slides-->
          <div role="listbox" class="carousel-inner">
            <div style="background-color:transparent " class="item active">
              <ul class="teachers_list center_inline_list">
                <li class="fade_scale"><a href="/giang-vien/le-hoang-tu"> <img 2015="" src="/cms/img/Lehoangtu.jpg"/></a>
                  <h5><a href="/giang-vien/le-hoang-tu">Lê Hoàng Tú</a></h5>
                  <p>Project manager at FPT Software</p>
                </li>
                <li class="fade_scale"><a href="/giang-vien/bui-xuan-canh"><img 2015="" src="/cms/img/canh.jpg"/></a>
                  <h5><a href="/giang-vien/bui-xuan-canh">Bùi Xuân Cảnh</a></h5>
                  <p>Project manager at FPT Software</p>
                </li>
                <li class="fade_scale"><a href="/giang-vien/do-anh-tu"><img 2015="" src="/cms/img/doanhtu.jpg"/></a>
                  <h5><a href="/giang-vien/do-anh-tu">Đỗ Anh Tú</a></h5>
                  <p>Co-founder Haivl.com</p>
                </li>
                <li class="fade_scale"><a href="/giang-vien/nguyen-tien-dat"><img 2015="" src="/cms/img/dat.jpg"/></a>
                  <h5><a href="/giang-vien/nguyen-tien-dat">Nguyễn Tiến Đạt</a></h5>
                  <p>Director at PlumGame</p>
                </li>
              </ul>
            </div>
            <div style="background-color:transparent " class="item">
              <ul class="teachers_list center_inline_list">
                <li><a href="/giang-vien/nguyen-si-thanh-son"><img src="/cms/img/thanhson.jpg"/></a>
                  <h5><a href="/giang-vien/nguyen-si-thanh-son">Nguyễn Sĩ Thanh Sơn</a></h5>
                  <p>Web Team Leader</p>
                </li>
                <li><a href="/giang-vien/ton-hong-duc"><img src="/cms/img/tonhongduc.jpg"/></a>
                  <h5><a href="/giang-vien/ton-hong-duc">TÔN HỒNG ĐỨC</a></h5>
                  <p> front-end developer</p>
                </li>
                <li><a href="/giang-vien/cuong-nguyen"><img src="/cms/img/cuong-nguyen.jpg"/></a>
                  <h5><a href="/giang-vien/cuong-nguyen">Cương Nguyễn</a></h5>
                  <p>Fullstack Developer</p>
                </li>
                <li><a href="/giang-vien/tran-quang-hiep"><img src="/cms/img/tranquanghiep.jpg"/></a>
                  <h5><a href="/giang-vien/tran-quang-hiep">Trần Quang Hiệp</a></h5>
                  <p>Python Developer</p>
                </li>
              </ul>
            </div>
          </div>
          <!-- Left and right controls--><a href="#myCarousel" role="button" data-slide="prev" class="left carousel-control"><span aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span><span class="sr-only">Previous</span></a><a href="#myCarousel" role="button" data-slide="next" class="right carousel-control"><span aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span><span class="sr-only">Next</span></a>
        </div>
      </div>
    </section>
    <section id="who-trusted-us" id="partners" class="partners">
      <div class="container">
        <hr class="content_divider"/>
        <div class="row text-center fade_up">
          <h3 class="section_title col-sm-5 col-xs-9">Who trusted us?</h3>
          <p>GREAT COMPANY STARTS WITH HAPPY CLIENTS</p>
        </div>
        <div class="row">
          <ul class="partners_list center_inline_list col-sm-12">
            <li><a href="https://topica.edu.vn/"><img src="/cms/img/PartnersLogo/Topica.png" alt="Topica" class="fade_scale"/></a></li>
            <li><a href="https://www.samsung.com/vn/home/"><img src="/cms/img/PartnersLogo/Samsung.png" alt="Samsung" class="fade_scale"/></a></li>
            <li><a href="http://bkav.com.vn"><img src="/cms/img/PartnersLogo/BKAV.png" alt="BKAV" class="fade_scale"/></a></li>
            <li><a href="http://tinhvan.vn/"><img src="/cms/img/PartnersLogo/TinhVan.png" alt="TinhVan" class="fade_scale"/></a></li>
            <li><a href="http://viettel.com.vn/"><img src="/cms/img/PartnersLogo/Viettel.png" alt="Viettel" class="fade_scale"/></a></li>
            <li><a href="https://www.fpt.com.vn/"><img src="/cms/img/PartnersLogo/Fpt.png" alt="FPT" class="fade_scale"/></a></li>
          </ul>
        </div>
      </div>
      <hr class="content_divider"/>
    </section>
    <section id="contact-us" id="join_us" class="join_us stars">
      <div class="container fade_up" style="padding-bottom: 80px;">
        <div class="row text-center">
          <h3 class="section_title col-sm-5 col-xs-9">Contact us</h3>
          <p class="section_subtitle">Leave your contact and concern here. TechKids team will reach out you very soon!</p>
        </div>
        <div class="row text-center"><a href="/khoa-hoc" class="btn btn-primary btn-outline col-sm-3 col-xs-9">For Customer</a><a href="/chuong-trinh" class="btn btn-primary btn-outline col-sm-3 col-xs-9">For candidates</a></div>
      </div>
    </section>

    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <h3>Contact Us</h3>
            <p>Ms.Ha: +84 165 300 5670</p>
            <p>Email: Techkidsvn@gmail.com</p>
            <p> TechHub Chua Lang: 10, 121, Chua Lang Street</p>
            <p> TechHub Chua Boc: 101D, 95, Chua Boc Street</p>
          </div>
          <div class="col-sm-6"><img src="/cms/img/TechkidBrandGrey.png" class="footer_logo">
            <p class="socials_list"><a href="skype:techkidsvn?chat " class="fa fa-skype col-sm-2 fa-2x"></a>
              <a href="https://www.facebook.com/Techkids.Code.the.Change" class="fa fa-facebook-square col-sm-2 fa-2x"></a>
              <a href="#" class="fa fa-globe col-sm-2 fa-2x"></a><a href="https://www.youtube.com/channel/UCkuxJcFwR-iFgThUPKwM_JA" class="fa fa-youtube-play col-sm-2 fa-2x"></a></p>

          </div>


        </div>
      </div>
    </footer>
    <script>
    // document.getElementById("service").scrollIntoView();
    // function scrollToElement(pageElement) {
    // var positionX = 0,
    //     positionY = 0;
    //
    // while(pageElement != null){
    //     positionX += pageElement.offsetLeft;
    //     positionY += pageElement.offsetTop;
    //     pageElement = pageElement.offsetParent;
    //     window.scrollTo(positionX, positionY);
    // }
    // }
    // var pageElement = document.getElementById("our-team");
    // scrollToElement(pageElement);
    </script>
  </body>
</html>
